<header>
	<div id="header-top">
		<div id="logo-container" class="left">
			<a href="#"><img src="../assets/youtube-logo-small.png"></a>
		</div>
		<div id="header-btns-container" class="right">
			<button id="signin">Sign In</button>
		</div>
		<div id="search-container">
			<form>
				<div id="search-terms-box"><input id="search-terms" class="search-terms" type="text" name="search-terms" placeholder="Search"></div>
				<button type="submit">Search</button>
			</form>
		</div>
	</div>
	<div id="header-nav"></div>

</header>