<header>
	<div id="header-top" class="plr30">
		<div id="header-top-content" class="center">
			<div id="logo-container" class="left">
				<a href="#"><img src="../assets/youtube-logo-small.png"></a>
			</div>
			<div id="signin-container" class="right">
				<button id="signin">Sign In</button>
			</div>
			<div id="search-container" class="oh">
				<form class="mt3">
					<button id="search-btn" class="right gry-btn" type="submit">
						<fa id="search-btn-content" class="gry-btn-content" name="search"></fa>
					</button>
					<div id="search-terms-box">
						<input id="search-terms" class="search-terms" type="text" name="search-terms" placeholder="Search">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="header-btm">
		<div id="nav">
			<ul>
				<li>Home</li>
				<li>Trending</li>
			</ul>
		</div>
	</div>

</header>